﻿﻿@using Entities
@using Business
@using Personal.Lists
@inject NavigationManager NavManager
@inject SweetAlertService SweetAlert

<div>
    <EditForm Model="obPersonal">

        <div class="form-group">
            <label class="form-label">ID:</label>
            <InputText @bind-Value="id" class="form-control" MaxLength="6" />
        </div>

        <div class="form-group">
            <label class="form-label">Documento de identidad:</label>
            <InputText @bind-Value="obPersonal.DNI" class="form-control" MaxLength="8" />
        </div>

        <div class="form-group">
            <label class="form-label">Personal:</label>
            <InputText @bind-Value="obPersonal.PERSONAL" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Cumpleaños:</label>
            <InputDate @bind-Value="obPersonal.CUMPLEAÑOS" class="form-control"/>
        </div>

        <div class="form-group">
            <label class="form-label">Puesto:</label>
            <InputText @bind-Value="obPersonal.PUESTO" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Cargo:</label>
            <InputText @bind-Value="obPersonal.CARGO" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Función:</label>
            <InputText @bind-Value="obPersonal.FUNCION" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Modalidad:</label>
            <InputSelect @bind-Value="obPersonal.MODALIDAD" class="form-control">
                <option value="">Seleccione una modalidad</option>
                <option value="PRESENCIAL">Presencial</option>
                <option value="REMOTO">Remoto</option>
                <option value="HIBRIDO">Hibrido</option>
            </InputSelect>
        </div>

       <div class="form-group">
            <label class="form-label">Rol:</label>
            <InputSelect @bind-Value="obPersonal.ROL" class="form-control">
                <option value="-1">Seleccione una modalidad</option>
                @{
                    foreach(var role in L_Lists.Roles)
                    {
                         <option value="@role">@role</option>
                    }
                }
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Tasa:</label>
            <InputSelect @bind-Value="obPersonal.TASA" class="form-control">
                <option value="">Seleccione una tasa</option>
                @{
                    foreach(var tasa in L_Lists.Tasas)
                    {
                         <option value="@tasa">@tasa</option>
                    }
                }
            </InputSelect>
        </div>

         <div class="form-group">
            <label class="form-label">Empresa:</label>
            <InputSelect @bind-Value="obPersonal.EMPRESA" class="form-control">
                <option value="">Seleccione una empresa</option>
                @{
                    foreach(var empresa in L_Lists.Empresas)
                    {
                         <option value="@empresa">@empresa</option>
                    }
                }
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Coordinador:</label>
            <InputSelect @bind-Value="obPersonal.COORDINADOR" class="form-control">
                <option value="">Seleccione un coordinador</option>
                @{
                    foreach(var coordinador in L_Lists.Coordinadores)
                    {
                         <option value="@coordinador">@coordinador</option>
                    }
                }
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Gabin:</label>
            <InputText @bind-Value="obPersonal.GABIN" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">People:</label>
            <InputText @bind-Value="obPersonal.PEOPLE" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Fecha Proyecto:</label>
            <InputDate @bind-Value="obPersonal.FECHA_PROYECTO" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Fecha al Cese:</label>
            <InputDate @bind-Value="obPersonal.FECHA_CESE" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Periodo de prueba (Meses):</label>
            <InputText @bind-Value="obPersonal.PERIODO_PRUEBA" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Fecha ingreso Indra:</label>
            <InputDate @bind-Value="obPersonal.INGRESO_INDRA" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Vacaciones Urgentes:</label>
            <InputDate @bind-Value="obPersonal.VACACIONES_URGENTES" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Equipo:</label>
            <InputSelect @bind-Value="obPersonal.Equipo" class="form-control">
                <option value="">Seleccione un equipo</option>
                <option value="No">No</option>
                <option value="Laptop">Laptop</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Número celular</label>
            <InputNumber @bind-Value="obPersonal.CELULAR" MaxLength="9" class="form-control" AllowNegativeNumbers="false" />
        </div>

        <div class="form-group">
            <label class="form-label">Correo</label>
            <InputText @bind-Value="obPersonal.CORREO" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Correo personal</label>
            <InputText @bind-Value="obPersonal.CPERSONAL" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Dirección</label>
            <InputText @bind-Value="obPersonal.DIRECCION" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Departamento</label>
            <select class="form-control" @onchange="FilterProvince">
                <option value="">Seleccione un departamento</option>
                @{
                    foreach (var departamento in LstDepartamentos)
                    {
                        <option value="@departamento.id">@departamento.name</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label class="form-label">Provincia</label>
            <select class="form-control" @onchange="FilterDistrict" >
                <option value="">Seleccione una provincia</option>
                @{
                    foreach (var provincia in LstProvincias)
                    {
                        <option value="@provincia.id">@provincia.name</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label class="form-label">Distrito</label>
            <select class="form-control" @onchange="GetDistrictName">
                <option value="" default>Seleccione un distrito</option>
                @{
                    foreach (var distrito in LstDistritos)
                    {
                        <option value="@distrito.id">@distrito.name</option>
                    }
                }
            </select>
        </div>
  
        <div class="form-group">
            <label class="form-label">Observación</label>
            <InputText @bind-Value="obPersonal.OBSERVACION" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">F31</label>
            <InputText @bind-Value="obPersonal.F31" class="form-control" />
        </div>


     @*    @Departamento
        @Provincia
        @Distrito *@
        <hr />
        <div>
            <button type="button" class="btn btn-primary" @onclick="SavePersonal">Agregar Personal</button>
        </div>
        <hr />
    </EditForm>
</div>

@code {
    PersonalEntity obPersonal = new PersonalEntity();
    List<DepartamentoEntity> LstDepartamentos = new List<DepartamentoEntity>();
    List<ProvinciasEntity> LstProvincias = new List<ProvinciasEntity>();
    List<DistritosEntity> LstDistritos = new List<DistritosEntity>();
    List<L_Lists> LstList = new List<L_Lists>();

    string id;
    string Departamento;
    string Provincia;
    string Distrito;

    protected override async Task OnInitializedAsync()
    {
        obPersonal.CUMPLEAÑOS = DateTime.Now;
        obPersonal.FECHA_PROYECTO = DateTime.Now;
        obPersonal.INGRESO_INDRA = DateTime.Now;
        obPersonal.VACACIONES_URGENTES = DateTime.Now;
        obPersonal.FECHA_CESE = DateTime.Now;
        LstDepartamentos = TB_ubigeo_peru_departments.DepartmentslList();
    }

    private async void SavePersonal()
    {
        obPersonal.DIAS_AL_CESE = CalcularDiferencia(obPersonal.FECHA_CESE, DateTime.Now);
        SweetAlertResult resultado = await SweetAlert.FireAsync(new SweetAlertOptions
            {
                Title = "Quieres agregar información de este colaborador",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si",
                CancelButtonText = "No"
        });

        if (!string.IsNullOrEmpty(resultado.Value))
        {
            await SweetAlert.FireAsync(
              "La información fue agregada." ,
              "La información fue agregada con éxito.",
              SweetAlertIcon.Success
              );

            obPersonal.ID = Double.Parse(id);
            obPersonal.DEPARTAMENTO = Departamento;
            obPersonal.PROVINCIA = Provincia;
            obPersonal.DISTRITO = Distrito;
            obPersonal.ESTADO = "Activo";
            TB_Personal.CreatePersonal(obPersonal);
            NavManager.NavigateTo("/");
        }
        else
        {

        }
    }

    private void FilterProvince(ChangeEventArgs e)
    {
        var IdDepartamento = e.Value.ToString();

        if (IdDepartamento != "")
        {
            Departamento = TB_ubigeo_peru_departments.GetDepartmentName(IdDepartamento).ToUpper();
            LstProvincias = TB_ubigeo_peru_provinces.ProvinceslByDepartmentId(IdDepartamento);

        }
        else
        {
            Departamento = "";
            Provincia = "";
            Distrito = "";
            LstProvincias = [];
            LstDistritos = [];
        }
    }

    private void FilterDistrict(ChangeEventArgs e)
    {
        var IdDistrito = e.Value.ToString();



        if (IdDistrito != "")
        {
            LstDistritos = [];
            Provincia = TB_ubigeo_peru_provinces.getProvinceName(IdDistrito).ToUpper();
            Distrito = "";
        }
        else
        {
            // Provincia = "";
            // LstDistritos = [];
            // Distrito = "";
          
        }

       LstDistritos = TB_ubigeo_peru_districts.DistrictslByProvinceId(IdDistrito);

    }

    private void GetDistrictName(ChangeEventArgs e)
    {
        var IdDistrito = e.Value.ToString();


        if (IdDistrito != "")
        {
            Distrito = TB_ubigeo_peru_districts.getDisctrictName(IdDistrito).ToUpper();
        }
        else
        {
            Distrito = "";
        }

    }

        static int CalcularDiferencia(DateTime? fecha, DateTime fechaActual)
        {
            if (fecha == null || fecha == DateTime.MinValue)
        {
            return -1;
        }
            else
        {
            TimeSpan diferencia = fecha.Value - fechaActual;
            return (int)diferencia.TotalDays;
        }
     }
}