@using Entities
@using Business
@using ClosedXML.Excel;
@using System.Net;
@using System.Data;
@using System.Diagnostics;
@using System.Globalization;
@using PdfSharpCore.Pdf
@using PdfSharpCore.Drawing
@using System.IO
@using BlazorDownloadFile
@using MailKit.Net.Smtp;
@using MimeKit;
@using System.Text.RegularExpressions;
@inject IJSRuntime _jsService;
@inject SweetAlertService SweetAlert

<div class="mb-3">
    <div class="row justify-content-md-center mb-3">
        <div class="col-sm">
            <label class="form-label">ID:</label>
            <input type="text" class="form-control" placeholder="Ingrese ID del empleado" @bind-value="ID"/>
        </div>
        <div class="col-sm">
            <label class="form-label">Dni:</label>
            <input type="text" class="form-control" placeholder="Ingrese DNI" @bind-value="Dni"/>
        </div>
        <div class="col-sm">
            <label class="form-label">Nombre:</label>
            <input type="text" class="form-control" placeholder="Ingrese Nombre" @bind-value="Nombre" />
        </div>
    </div>
    <div class="row justify-content-md-center mb-3">
        <div class="col-sm">
             <label class="form-label">Fecha de ingreso:</label>
            <InputDate @bind-Value="FechaIngreso" class="form-control" />
        </div>
        <div class="col-sm">
            <label class="form-label">Fecha de nacimiento:</label>
            <InputDate @bind-Value="FechaNacimiento" class="form-control" />
        </div>
          <div class="col-sm">
            <label class="form-label">Estado:</label>
             <InputSelect @bind-Value="Estado" class="form-control">
                <option value="">Seleccione un estado</option>
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </InputSelect>
        </div>
    </div>

    <div class="row justify-content-md-center mb-3">
      
        <div class="col-sm">
            <label class="form-label">Equipo:</label>
            <InputSelect @bind-Value="Equipo" class="form-control">
                <option value="">Seleccione un equipo</option>
                <option value="No">No</option>
                <option value="Laptop">Laptop</option>
            </InputSelect>
        </div>
         <div class="col-sm">
            <label class="form-label">Departamento:</label>
            <select class="form-control" @onchange="FilterProvince">
                <option value="">Seleccione un departamento</option>
                @{
                    foreach(var departamento in LstDepartamentos)
                    {
                        <option value="@departamento.id">@departamento.name</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm">
            <label class="form-label">Provincia:</label>
            <InputSelect class="form-control" Value="@Provincia" ValueExpression="@(()=>@Provincia)" ValueChanged="@((string value) => FilterDistrict(value))">
                <option value="">Seleccione una provincia</option">
                @{
                    foreach (var provincia in LstProvincias)
                    {
                        <option value="@provincia.id">@provincia.name</option>
                    }
                }
            </InputSelect>
        </div>
    </div>

    <div class="row justify-content-md-center mb-3">
        <div class="col-sm">
            <label class="form-label">Distrito:</label>
            <InputSelect class="form-control" Value="@Distrito" ValueExpression="@(()=>@Distrito)" ValueChanged="@((string value) => GetDistrictName(value))">
                <option value="">Seleccione un distrito</option>
                @{
                    foreach (var distrito in LstDistritos)
                    {
                        <option value="@distrito.id">@distrito.name</option>
                    }
                }
            </InputSelect>
        </div>
    </div>
   
    
@*     @Departamento
    @Provincia
    @Distrito *@
  

    <div style="
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    "
        > 
        <button @onclick="ChangedFilters" class="btn btn-primary"><i class="bi bi-search"></i> Buscar</button>
        <button @onclick="ExportExcel" class="btn btn-success"><i class="bi bi-file-earmark-excel"></i> Exportar a Excel</button>
        <button @onclick="ExportToPdf" class="btn btn-danger"><i class="bi bi-file-earmark-pdf"></i> Exportar a PDF</button>
        <button  data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-info"><i class="bi bi-file-earmark-pdf"></i> Exportar a PDF y enviar por correo</button>
    </div>
 @* 
  @onclick="ExportToPdfAndEmail" *@
</div





<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Ingrese el correo electrónico a donde desee enviar el archivo PDF</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="form-label">Correo:</label>
        <input type="text" class="form-control" placeholder="Ingrese el correo" @bind-value="Correo" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  @onclick="ExportToPdfAndEmail">Enviar</button>
      </div>
    </div>
  </div>
</div>   

@{
    if(spinnerloading)
    {
    <div class="overlay">
        <div class="overlay__wrapper">
            <div class="overlay__spinner">
                  <div class="loading"> 
                      <div class="spinner-border text-light" role="status">
                        <span class="sr-only"></span>
                      </div>  
                      <p style="color: white;">@SpinnerMessage</p>
                  </div>
            </div>
        </div>
    </div>
    }
    else
    {
       <div class="table-responsive" style="width: 99rem; height:33rem; overflow: scroll;">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>DNI</th>
                        <th>PERSONAL</th>
                        <th>CUMPLEAÑOS</th>
                        <th>PUESTO</th>
                        <th>CARGO</th>
                        <th>FUNCION</th>
                        <th>MODALIDAD</th>
                        <th>ROL</th>
                        <th>TASA</th>
                        <th>EMPRESA</th>
                        <th>COORDINADOR</th>
                        <th>GABIN</th>
                        <th>PEOPLE</th>
                        <th>FECHA PROYECTO</th>
                        <th>FECHA CESE</th>
                        <th>DIAS AL CESE</th>
                        <th>PERIODO PRUEBA</th>
                        <th>INGRESO INDRA</th>
                        <th>DIAS EMPRESA</th>
                        <th>VACACIONES URGENTES</th>
                        <th>Equipo</th>
                        <th>CELULAR</th>
                        <th>CORREO</th>
                        <th>CPERSONAL</th>
                        <th>DIRECCION</th>
                        <th>DEPARTAMENTO</th>
                        <th>PROVINCIA</th>
                        <th>DISTRITO</th>
                        <th>OBSERVACION</th>
                        <th>F31</th>
                        <th>ESTADO</th>
                        <th></th>
                    </tr>
            </thead>
                <tbody>
                    @foreach (var personal in TempObPersonal)
                    {
                        <tr>
                          <td>@personal.ID</td>
                          <td>@personal.DNI</td>
                          <td>@personal.PERSONAL</td>
                          <td>@personal.CUMPLEAÑOS?.ToString("dd/MM/yyyy")</td>
                          <td>@personal.PUESTO</td>
                          <td>@personal.CARGO</td>
                          <td>@personal.FUNCION</td>
                          <td>@personal.MODALIDAD</td>
                          <td>@personal.ROL</td>
                          <td>@personal.TASA</td>
                          <td>@personal.EMPRESA</td>
                          <td>@personal.COORDINADOR</td>
                          <td>@personal.GABIN</td>
                          <td>@personal.PEOPLE</td>
                          <td>@personal.FECHA_PROYECTO.Value.ToString("dd-MM-yyyy")</td>
                          <td>@personal.FECHA_CESE?.ToString("dd/MM/yyyy")</td>
                          @{
                              // Calcular la diferencia de cese
                              var diasCese = CalcularDiasCese(personal.FECHA_CESE);
                          }
                          <td>@diasCese</td>
                          <td>@personal.PERIODO_PRUEBA</td>
                          <td>@personal.INGRESO_INDRA.Value.ToString("dd-MM-yyyy")</td>
                          @{
                              // Calcular la diferencia de días
                              var diasDiferenciaDeIngresoIndra = CalcularDiasDeDiferencia(personal.INGRESO_INDRA);
                          }
                            <td>@diasDiferenciaDeIngresoIndra</td>
                            <td>@personal.VACACIONES_URGENTES?.ToString("dd/MM/yyyy")</td>
                            <td>@personal.Equipo</td>
                            <td>@personal.CELULAR</td>
                            <td>@personal.CORREO</td>
                            <td>@personal.CPERSONAL</td>
                            <td>@personal.DIRECCION</td>  
                            <td>@personal.DEPARTAMENTO</td>
                            <td>@personal.PROVINCIA</td>
                            <td>@personal.DISTRITO</td>
                            <td>@personal.OBSERVACION</td>
                            <td>@personal.F31</td>
                            <td>@personal.ESTADO</td>
                            <td><a class="btn btn-success" href="personal/update/@personal.ID.ToString()"><i class="bi bi-pencil-square"></i> Actualizar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> 
    }
}

@code {
    List<PersonalEntity> ObPersonal = new List<PersonalEntity>();
    List<PersonalEntity> TempObPersonal = new List<PersonalEntity>();
    List<DepartamentoEntity> LstDepartamentos = new List<DepartamentoEntity>();
    List<ProvinciasEntity> LstProvincias = new List<ProvinciasEntity>();
    List<DistritosEntity> LstDistritos = new List<DistritosEntity>();

    string ID;
    string Dni;
    string Nombre;
    string Estado;
    string Equipo;
    string Departamento;
    string Provincia;
    string Distrito;
    string Correo;
    string SpinnerMessage = "";

    bool spinnerloading = false;
    DateTime? FechaIngreso;
    DateTime? FechaNacimiento;

    protected override async Task OnInitializedAsync()
    {
        TurnOnLoading("Cargando...");
        ObPersonal = await Task.Run(() => TB_Personal.PersonalList());
        TempObPersonal = ObPersonal;
        LstDepartamentos = TB_ubigeo_peru_departments.DepartmentslList();
        TurnOffLoading();
    }

    private async Task ChangedFilters()
    {
        TurnOnLoading("Buscando...");
        var ProvinceNameUpper = TB_ubigeo_peru_provinces.GetProvinceName(Provincia);
        var DistrictNameUpper = TB_ubigeo_peru_districts.getDisctrictName(Distrito);
        TempObPersonal = await Task.Run(() => TB_Personal.FilterPersonal(Dni, Nombre, FechaIngreso, FechaNacimiento, Estado, Equipo, Departamento, ProvinceNameUpper, DistrictNameUpper, ID));
        TurnOffLoading();
    }

    private void TurnOnLoading(string message){
        spinnerloading = true;
        SpinnerMessage = message;

    }

    private void TurnOffLoading(){
        spinnerloading = false;
        SpinnerMessage = "";
    }

    private void FilterProvince(ChangeEventArgs e)
    {
        var IdDepartamento = e.Value.ToString();

        if (IdDepartamento != "")
        {
            Provincia = "";
            Distrito = "";
            Departamento = TB_ubigeo_peru_departments.GetDepartmentName(IdDepartamento).ToUpper();
            LstProvincias = TB_ubigeo_peru_provinces.GetProvinceslByDepartmentId(IdDepartamento);
        }
        else
        {
            Departamento = "";
            Provincia = "";
            Distrito = "";
            LstProvincias = [];
            LstDistritos = [];
        }
    }

    private void FilterDistrict(string value)
    {
        var IdDistrito = value;

        if (IdDistrito != "")
        {
            Provincia = IdDistrito;
            Distrito = "";
            LstDistritos = TB_ubigeo_peru_districts.DistrictslByProvinceId(IdDistrito);
        }
        else
        {
            Provincia = "";
            Distrito = "";
            LstDistritos = [];
        }

    }

    private void GetDistrictName(string value)
    {
        var IdDistrito = value;


        if (IdDistrito != "")
        {
            Distrito = IdDistrito;
        }
        else
        {
            Distrito = "";
        }

    }

    private string CalcularDiasCese(DateTime? FechaCese)
    {
        string diasCese;
        DateTime Hoy = DateTime.Today;

        if (!FechaCese.HasValue)
        {
            return diasCese = null;
        }
        else if (FechaCese.Value.Date < Hoy)
        {
            TimeSpan diferenciaDiasCese = Hoy - FechaCese.Value;

            return diasCese = "-" + diferenciaDiasCese.Days.ToString();
        }
        else{
            TimeSpan diferenciaDiasCese = FechaCese.Value - Hoy;

            return diasCese = diferenciaDiasCese.Days.ToString();
        }
    }

    private string CalcularDiasDeDiferencia(DateTime? FechaIngresoIndra)
    {
        var DiasDeDiferencia = 0;
        TimeSpan diferencia = DateTime.Now - FechaIngresoIndra.Value;
        if ((int)diferencia.TotalDays > 0)
        {
            DiasDeDiferencia = (int)diferencia.TotalDays;
        }
        else
        {
            DiasDeDiferencia = 1;
        }
        return DiasDeDiferencia.ToString();
    }

    private async Task ExportExcel()
    {
        TurnOnLoading("Exportando archivo excel...");
        using (var libro = new XLWorkbook())
        {
            IXLWorksheet hoja = libro.Worksheets.Add("Empleados");

            hoja.Cell(1, 1).Value = "ID";
            hoja.Cell(1, 2).Value = "DNI";
            hoja.Cell(1, 3).Value = "Nombre Completo";
            hoja.Cell(1, 4).Value = "Celular";
            hoja.Cell(1, 5).Value = "Equipo";
            hoja.Cell(1, 6).Value = "Fecha de Ingreso a Indra";
            hoja.Cell(1, 7).Value = "Fecha de Nacimiento";
            hoja.Cell(1, 8).Value = "Días en Indra";
            hoja.Cell(1, 9).Value = "Estado Laboral";
            hoja.Cell(1, 10).Value = "Puesto";
            hoja.Cell(1, 11).Value = "Cargo";
            hoja.Cell(1, 12).Value = "Función";
            hoja.Cell(1, 13).Value = "Modalidad de Contrato";
            hoja.Cell(1, 14).Value = "Rol";
            hoja.Cell(1, 15).Value = "Tasa";
            hoja.Cell(1, 16).Value = "Empresa";
            hoja.Cell(1, 17).Value = "Coordinador";
            hoja.Cell(1, 18).Value = "Gabinete";
            hoja.Cell(1, 19).Value = "People";
            hoja.Cell(1, 20).Value = "Fecha de Proyecto";
            hoja.Cell(1, 21).Value = "Fecha de Cese";
            hoja.Cell(1, 22).Value = "Días al Cese";
            hoja.Cell(1, 23).Value = "Periodo de Prueba";
            hoja.Cell(1, 24).Value = "Vacaciones Urgentes";
            hoja.Cell(1, 25).Value = "Correo Electrónico";
            hoja.Cell(1, 26).Value = "correo Personal";
            hoja.Cell(1, 27).Value = "Dirección";
            hoja.Cell(1, 28).Value = "Departamento";
            hoja.Cell(1, 29).Value = "Provincia";
            hoja.Cell(1, 30).Value = "Distrito";
            hoja.Cell(1, 31).Value = "Observación";
            hoja.Cell(1, 32).Value = "F31";



            for (int fila = 1; fila <= TempObPersonal.Count; fila++)
            {
                foreach (var personal in TempObPersonal)
                {

                    var diasEmpresa = CalcularDiasDeDiferencia(personal.INGRESO_INDRA);
                    personal.DIAS_EMPRESA = Int32.Parse(diasEmpresa);
                }

                foreach (var personal in TempObPersonal)
                {
                    var diasCese = CalcularDiasCese(personal.FECHA_CESE);
                    personal.DIAS_AL_CESE = Convert.ToDouble(diasCese);
                }


                hoja.Cell(fila + 1, 1).Value = TempObPersonal[fila - 1].ID;
                hoja.Cell(fila + 1, 2).Value = TempObPersonal[fila - 1].DNI;
                hoja.Cell(fila + 1, 3).Value = TempObPersonal[fila - 1].PERSONAL;
                hoja.Cell(fila + 1, 4).Value = TempObPersonal[fila - 1].CELULAR;
                hoja.Cell(fila + 1, 5).Value = TempObPersonal[fila - 1].Equipo;
                hoja.Cell(fila + 1, 6).Value = TempObPersonal[fila - 1].INGRESO_INDRA?.ToString("dd-MM-yyyy");
                hoja.Cell(fila + 1, 7).Value = TempObPersonal[fila - 1].CUMPLEAÑOS?.ToString("dd/MM/yyyy");
                hoja.Cell(fila + 1, 8).Value = TempObPersonal[fila - 1].DIAS_EMPRESA;
                hoja.Cell(fila + 1, 9).Value = TempObPersonal[fila - 1].ESTADO;
                hoja.Cell(fila + 1, 10).Value = TempObPersonal[fila - 1].PUESTO;
                hoja.Cell(fila + 1, 11).Value = TempObPersonal[fila - 1].CARGO;
                hoja.Cell(fila + 1, 12).Value = TempObPersonal[fila - 1].FUNCION;
                hoja.Cell(fila + 1, 13).Value = TempObPersonal[fila - 1].MODALIDAD;
                hoja.Cell(fila + 1, 14).Value = TempObPersonal[fila - 1].ROL;
                hoja.Cell(fila + 1, 15).Value = TempObPersonal[fila - 1].TASA;
                hoja.Cell(fila + 1, 16).Value = TempObPersonal[fila - 1].EMPRESA;
                hoja.Cell(fila + 1, 17).Value = TempObPersonal[fila - 1].COORDINADOR;
                hoja.Cell(fila + 1, 18).Value = TempObPersonal[fila - 1].GABIN;
                hoja.Cell(fila + 1, 19).Value = TempObPersonal[fila - 1].PEOPLE;
                hoja.Cell(fila + 1, 20).Value = TempObPersonal[fila - 1].FECHA_PROYECTO?.ToString("dd-MM-yyyy");
                hoja.Cell(fila + 1, 21).Value = TempObPersonal[fila - 1].FECHA_CESE?.ToString("dd/MM/yyyy");
                hoja.Cell(fila + 1, 22).Value = TempObPersonal[fila - 1].DIAS_AL_CESE;
                hoja.Cell(fila + 1, 23).Value = TempObPersonal[fila - 1].PERIODO_PRUEBA;
                hoja.Cell(fila + 1, 24).Value = TempObPersonal[fila - 1].VACACIONES_URGENTES?.ToString("dd/MM/yyyy");
                hoja.Cell(fila + 1, 25).Value = TempObPersonal[fila - 1].CORREO;
                hoja.Cell(fila + 1, 26).Value = TempObPersonal[fila - 1].CPERSONAL;
                hoja.Cell(fila + 1, 27).Value = TempObPersonal[fila - 1].DIRECCION;
                hoja.Cell(fila + 1, 28).Value = TempObPersonal[fila - 1].DEPARTAMENTO;
                hoja.Cell(fila + 1, 29).Value = TempObPersonal[fila - 1].PROVINCIA;
                hoja.Cell(fila + 1, 30).Value = TempObPersonal[fila - 1].DISTRITO;
                hoja.Cell(fila + 1, 31).Value = TempObPersonal[fila - 1].OBSERVACION;
                hoja.Cell(fila + 1, 32).Value = TempObPersonal[fila - 1].F31;

            }

            using (var memoria = new MemoryStream())
            {
                libro.SaveAs(memoria);
                var nombreExcel = string.Concat("Reporte de Personal ", DateTime.Now.ToString(), ".xlsx");

                await _jsService.InvokeAsync<object>(
                    "ExportExcel",
                    nombreExcel,
                    Convert.ToBase64String(memoria.ToArray())

                );
                TurnOffLoading();
            }


        }
    }

    [Inject] public IBlazorDownloadFileService BlazorDownloadFileService { get; set; }

    private async Task ExportToPdf()
    {
        TurnOnLoading("Exportando archivo pdf...");
        PdfDocument document = new PdfDocument();

        double pageWidth = 73.8;

        // Configurar tamaño de página y orientación para todas las páginas
        PdfPage page = document.AddPage();
        page.Orientation = PdfSharpCore.PageOrientation.Landscape;
        page.Width = XUnit.FromInch(pageWidth); // Ancho en pulgadas
        page.Height = XUnit.FromInch(8.5); // Alto en pulgadas

        XGraphics gfx = XGraphics.FromPdfPage(page);

        XFont font = new XFont("Verdana", 12, XFontStyle.Regular);

        int yPoint = 20; // Comenzar después del margen superior
        int cellWidth = 90;
        int cellHeight = 30;

        // Dibujar las cabeceras de la tabla en la primera página
        DrawCell(gfx, "ID", font, new XPoint(10, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Nombre", font, new XPoint(100, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Personal", font, new XPoint(190, yPoint), 300, cellHeight);
        DrawCell(gfx, "Cumpleaños", font, new XPoint(490, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Puesto", font, new XPoint(580, yPoint), 180, cellHeight);
        DrawCell(gfx, "Cargo", font, new XPoint(760, yPoint), 310, cellHeight);
        DrawCell(gfx, "Función", font, new XPoint(1070, yPoint), 390, cellHeight);
        DrawCell(gfx, "Modalidad", font, new XPoint(1460, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Rol", font, new XPoint(1550, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Tasa", font, new XPoint(1640, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Empresa", font, new XPoint(1730, yPoint), 170, cellHeight);
        DrawCell(gfx, "Coordinador", font, new XPoint(1900, yPoint), 165, cellHeight);
        DrawCell(gfx, "Gabin", font, new XPoint(2065, yPoint), 165, cellHeight);
        DrawCell(gfx, "People", font, new XPoint(2230, yPoint), 165, cellHeight);
        DrawCell(gfx, "Fecha proyecto", font, new XPoint(2395, yPoint), 110, cellHeight);
        DrawCell(gfx, "Fecha cese", font, new XPoint(2505, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Dias al Cese", font, new XPoint(2595, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Periodo Prueba", font, new XPoint(2685, yPoint), 105, cellHeight);
        DrawCell(gfx, "Ingreso Indra", font, new XPoint(2790, yPoint), 105, cellHeight);
        DrawCell(gfx, "Dias empresa", font, new XPoint(2895, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Vacaciones urgentes", font, new XPoint(2985, yPoint), 130, cellHeight);
        DrawCell(gfx, "Equipo", font, new XPoint(3115, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Celular", font, new XPoint(3205, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Correo", font, new XPoint(3295, yPoint), 230, cellHeight);
        DrawCell(gfx, "Correo Personal", font, new XPoint(3525, yPoint), 230, cellHeight);
        DrawCell(gfx, "Dirección", font, new XPoint(3755, yPoint), 600, cellHeight);
        DrawCell(gfx, "Departamento", font, new XPoint(4355, yPoint), 110, cellHeight);
        DrawCell(gfx, "Provincia", font, new XPoint(4465, yPoint), 145, cellHeight);
        DrawCell(gfx, "Distrito", font, new XPoint(4610, yPoint), 145, cellHeight);
        DrawCell(gfx, "Observación", font, new XPoint(4755, yPoint), 230, cellHeight);
        DrawCell(gfx, "F31", font, new XPoint(4985, yPoint), 230, cellHeight);
        DrawCell(gfx, "Estado", font, new XPoint(5215, yPoint), cellWidth, cellHeight);
        yPoint += cellHeight; // Aumentar el valor de yPoint después de dibujar las cabeceras

        // Dibujar los datos de la tabla
        foreach (var item in TempObPersonal)
        {
            // Si hemos alcanzado el límite de filas por página, agregamos una nueva página
            if (yPoint + cellHeight > page.Height.Point)
            {
                page = document.AddPage(); // Agregar nueva página
                page.Orientation = PdfSharpCore.PageOrientation.Landscape; // Configurar orientación horizontal
                page.Width = XUnit.FromInch(pageWidth); // Anchoen pulgadas
                page.Height = XUnit.FromInch(8.5); // Alto en pulgadas
                gfx = XGraphics.FromPdfPage(page);
                yPoint = 20; // Reiniciar la posición vertical, comenzando después del margen superior

                // Dibujar las cabeceras de la tabla en la nueva página
                DrawCell(gfx, "ID", font, new XPoint(10, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Nombre", font, new XPoint(100, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Personal", font, new XPoint(190, yPoint), 300, cellHeight);
                DrawCell(gfx, "Cumpleaños", font, new XPoint(490, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Puesto", font, new XPoint(580, yPoint), 180, cellHeight);
                DrawCell(gfx, "Cargo", font, new XPoint(760, yPoint), 310, cellHeight);
                DrawCell(gfx, "Función", font, new XPoint(1070, yPoint), 390, cellHeight);
                DrawCell(gfx, "Modalidad", font, new XPoint(1460, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Rol", font, new XPoint(1550, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Tasa", font, new XPoint(1640, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Empresa", font, new XPoint(1730, yPoint), 170, cellHeight);
                DrawCell(gfx, "Coordinador", font, new XPoint(1900, yPoint), 165, cellHeight);
                DrawCell(gfx, "Gabin", font, new XPoint(2065, yPoint), 165, cellHeight);
                DrawCell(gfx, "People", font, new XPoint(2230, yPoint), 165, cellHeight);
                DrawCell(gfx, "Fecha proyecto", font, new XPoint(2395, yPoint), 110, cellHeight);
                DrawCell(gfx, "Fecha cese", font, new XPoint(2505, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Dias al Cese", font, new XPoint(2595, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Periodo Prueba", font, new XPoint(2685, yPoint), 105, cellHeight);
                DrawCell(gfx, "Ingreso Indra", font, new XPoint(2790, yPoint), 105, cellHeight);
                DrawCell(gfx, "Dias empresa", font, new XPoint(2895, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Vacaciones urgentes", font, new XPoint(2985, yPoint), 130, cellHeight);
                DrawCell(gfx, "Equipo", font, new XPoint(3115, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Celular", font, new XPoint(3205, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Correo", font, new XPoint(3295, yPoint), 230, cellHeight);
                DrawCell(gfx, "Correo Personal", font, new XPoint(3525, yPoint), 230, cellHeight);
                DrawCell(gfx, "Dirección", font, new XPoint(3755, yPoint), 600, cellHeight);
                DrawCell(gfx, "Departamento", font, new XPoint(4355, yPoint), 110, cellHeight);
                DrawCell(gfx, "Provincia", font, new XPoint(4465, yPoint), 145, cellHeight);
                DrawCell(gfx, "Distrito", font, new XPoint(4610, yPoint), 145, cellHeight);
                DrawCell(gfx, "Observación", font, new XPoint(4755, yPoint), 230, cellHeight);
                DrawCell(gfx, "F31", font, new XPoint(4985, yPoint), 230, cellHeight);
                DrawCell(gfx, "Estado", font, new XPoint(5215, yPoint), cellWidth, cellHeight);
                yPoint += cellHeight; // Aumentar el valor de yPoint después de dibujar las cabeceras
            }

            string puesto = item.PUESTO ?? "";
            string cargo = item.CARGO ?? "";
            string funcion = item.FUNCION ?? "";
            string modalidad = item.MODALIDAD ?? "";
            string rol = item.ROL ?? "";
            string tasa = item.TASA ?? "";
            string empresa = item.EMPRESA ?? "";
            string coordinador = item.COORDINADOR ?? "";
            string gabin = item.GABIN ?? "";
            string people = item.PEOPLE ?? "";
            string fechacese = item.FECHA_CESE?.ToString("dd/MM/yyyy") ?? "";
            string diascese = CalcularDiasCese(item.FECHA_CESE) ?? "";
            string periodoprueba = item.PERIODO_PRUEBA ?? "";
            string diasempresa = CalcularDiasDeDiferencia(item.INGRESO_INDRA) ?? "";
            string vacacionesurgentes = item.VACACIONES_URGENTES?.ToString("dd/MM/yyyy") ?? "";
            string equipo = item.Equipo ?? "";
            string correo = item.CORREO ?? "";
            string correopersonal = item.CPERSONAL ?? "";
            string direccion = item.DIRECCION ?? "";
            string departamento = item.DEPARTAMENTO ?? "";
            string provincia = item.PROVINCIA ?? "";
            string distrito = item.DISTRITO ?? "";
            string observacion = item.OBSERVACION ?? "";
            string f31 = item.F31 ?? "";
            string estado = item.ESTADO ?? "";

            // Dibujar los datos en la página actual
            DrawCell(gfx, item.ID.ToString(), font, new XPoint(10, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, item.DNI, font, new XPoint(100, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, item.PERSONAL, font, new XPoint(190, yPoint), 300, cellHeight);
            DrawCell(gfx, item.CUMPLEAÑOS?.ToString("dd/MM/yyyy"), font, new XPoint(490, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, puesto, font, new XPoint(580, yPoint), 180, cellHeight);
            DrawCell(gfx, cargo, font, new XPoint(760, yPoint), 310, cellHeight);
            DrawCell(gfx, funcion, font, new XPoint(1070, yPoint), 390, cellHeight);
            DrawCell(gfx, modalidad, font, new XPoint(1460, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, rol, font, new XPoint(1550, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, tasa, font, new XPoint(1640, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, empresa, font, new XPoint(1730, yPoint), 170, cellHeight);
            DrawCell(gfx, coordinador, font, new XPoint(1900, yPoint), 165, cellHeight);
            DrawCell(gfx, gabin, font, new XPoint(2065, yPoint), 165, cellHeight);
            DrawCell(gfx, people, font, new XPoint(2230, yPoint), 165, cellHeight);
            DrawCell(gfx, item.FECHA_PROYECTO?.ToString("dd/MM/yyyy"), font, new XPoint(2395, yPoint), 110, cellHeight);
            DrawCell(gfx, fechacese, font, new XPoint(2505, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, diascese, font, new XPoint(2595, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, periodoprueba, font, new XPoint(2685, yPoint), 105, cellHeight);
            DrawCell(gfx, item.INGRESO_INDRA?.ToString("dd/MM/yyyy"), font, new XPoint(2790, yPoint), 105, cellHeight);
            DrawCell(gfx, diasempresa, font, new XPoint(2895, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, vacacionesurgentes, font, new XPoint(2985, yPoint), 130, cellHeight);
            DrawCell(gfx, equipo, font, new XPoint(3115, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, item.CELULAR.ToString(), font, new XPoint(3205, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, correo, font, new XPoint(3295, yPoint), 230, cellHeight);
            DrawCell(gfx, correopersonal, font, new XPoint(3525, yPoint), 230, cellHeight);
            DrawCell(gfx, direccion, font, new XPoint(3755, yPoint), 600, cellHeight);
            DrawCell(gfx, departamento, font, new XPoint(4355, yPoint), 110, cellHeight);
            DrawCell(gfx, provincia, font, new XPoint(4465, yPoint), 145, cellHeight);
            DrawCell(gfx, distrito, font, new XPoint(4610, yPoint), 145, cellHeight);
            DrawCell(gfx, distrito, font, new XPoint(4610, yPoint), 145, cellHeight);
            DrawCell(gfx, observacion, font, new XPoint(4755, yPoint), 230, cellHeight);
            DrawCell(gfx, observacion, font, new XPoint(4755, yPoint), 230, cellHeight);
            DrawCell(gfx, f31, font, new XPoint(4985, yPoint), 230, cellHeight);
            DrawCell(gfx, estado, font, new XPoint(5215, yPoint), cellWidth, cellHeight);
            yPoint += cellHeight;
        }

        using MemoryStream stream = new MemoryStream();
        document.Save(stream, false);
        var bytes = stream.ToArray();
        string fileName = "Tabla.pdf";

        // Convertir los bytes a base64
        string base64 = Convert.ToBase64String(bytes);

        // Descargar el archivo PDF
        await BlazorDownloadFileService.DownloadFile(fileName, base64, "application/pdf");
        TurnOffLoading();
    }

    private void DrawCell(XGraphics gfx, string text, XFont font, XPoint point, double width, double height)
    {
        gfx.DrawRectangle(XPens.Black, point.X, point.Y, width, height);

        // Dividir el texto en líneas que quepan dentro de la celda
        List<string> lines = SplitTextToFit(gfx, text, font, width);

        // Calcular la altura de cada línea
        double lineHeight = height / lines.Count;

        // Dibujar cada línea de texto
        double y = point.Y;
        foreach (string line in lines)
        {
            gfx.DrawString(line, font, XBrushes.Black, new XRect(point.X, y, width, lineHeight), XStringFormats.Center);
            y += lineHeight;
        }
    }

    private List<string> SplitTextToFit(XGraphics gfx, string text, XFont font, double width)
    {
        List<string> lines = new List<string>();

        // Si el texto ya cabe en la celda, no es necesario dividirlo
        if (gfx.MeasureString(text, font).Width <= width)
        {
            lines.Add(text);
            return lines;
        }

        // Dividir el texto en dos partes
        int middleIndex = text.Length / 2;
        string firstHalf = text.Substring(0, middleIndex);
        string secondHalf = text.Substring(middleIndex);

        // Agregar las dos partes al resultado
        lines.Add(firstHalf);
        lines.Add(secondHalf);

        return lines;
    }


    private async Task ExportToPdfAndEmail()
    {     
        bool IsCorreoAnEmail = false;
        if (Correo != null && Regex.IsMatch(Correo, @"^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"))
        {
            IsCorreoAnEmail = true;
        }

        if (!IsCorreoAnEmail || Correo == null)
        {
            await SweetAlert.FireAsync(
                "Se debe de ingresar una dirección de correo.",
                "Se debe de ingresar una dirección de correo correcta para realizar en envio del PDF.",
                SweetAlertIcon.Error
            );
        }
        else
        {
            SweetAlertResult resultado = await SweetAlert.FireAsync(new SweetAlertOptions
        {
            Title = "¿Deseas enviar el pdf al siguiente correo? " + Correo + "",
            Icon = SweetAlertIcon.Warning,
            ShowCancelButton = true,
            ConfirmButtonText = "Si",
            CancelButtonText = "No"
        });

            if (!string.IsNullOrEmpty(resultado.Value))
            {
                try
                {
                    TurnOnLoading("AAAAAAAAAAAAAA");
                    await SendEmail();
                }
                catch (Exception ex)
                {


                    await SweetAlert.FireAsync(
                        "Error al enviar el correo",
                        "Ocurrió un error al enviar el correo electrónico: " + ex.Message,
                        SweetAlertIcon.Error
                    );
                }
            }
            else
            {
                Correo = "";
                TurnOffLoading();
            }
        }
    }

    private async Task SendEmail()
    {
        TurnOnLoading("Enviando PDF...");
        await Task.Delay(2000);

        // Generar el documento PDF
        PdfDocument document = GeneratePdfToSend();


        // Convertir el documento a bytes
        using MemoryStream stream = new MemoryStream();
        document.Save(stream, false);
        var bytes = stream.ToArray();
        string fileName = "Tabla.pdf";

        // Crear el mensaje de correo electrónico
        var message = new MimeMessage();
        message.From.Add(new MailboxAddress("Sistema de gestión de personal - Indra", "ffenenixjuliojuliocfenixx@hotmail.es"));
        message.To.Add(new MailboxAddress("Archivo PDF del sistema de gestión de personal.", Correo));
        message.Subject = "PDF Adjunto";

        var builder = new BodyBuilder();
        builder.TextBody = "Archivo PDF del sistema de gestión de personal.";
        builder.Attachments.Add(fileName, bytes);

        message.Body = builder.ToMessageBody();

        // Enviar el mensaje de correo electrónico
        // using (var client = new SmtpClient())
        // {
        //     await client.ConnectAsync("smtp.office365.com", 587, false); // Servidor SMTP y puerto para Outlook
        //     await client.AuthenticateAsync("ffenenixjuliojuliocfenixx@hotmail.es", "j12345610"); // Correo y contraseña
        //     await client.SendAsync(message);
        //     await client.DisconnectAsync(true);
        // }

        /*
        SweetAlertResult resultado = await SweetAlert.FireAsync(new SweetAlertOptions
        {
            Title = "Correo enviado con éxito",
            Icon = SweetAlertIcon.Success,
            ShowCancelButton = false,
            ConfirmButtonText = "Si"
        });

        if (!string.IsNullOrEmpty(resultado.Value))
        {
            // Apagar el spinner de carga
            TurnOnLoading("TEST");
            SpinnerMessage = "AAQA";
            spinnerloading = false;
            _jsService.InvokeVoidAsync("console.log", spinnerloading);
            
        }
        */
    }


    private PdfDocument GeneratePdfToSend()
    {
        PdfDocument document = new PdfDocument();

        double pageWidth = 73.8;

        // Configurar tamaño de página y orientación para todas las páginas
        PdfPage page = document.AddPage();
        page.Orientation = PdfSharpCore.PageOrientation.Landscape;
        page.Width = XUnit.FromInch(pageWidth); // Ancho en pulgadas
        page.Height = XUnit.FromInch(8.5); // Alto en pulgadas

        XGraphics gfx = XGraphics.FromPdfPage(page);

        XFont font = new XFont("Verdana", 12, XFontStyle.Regular);

        int yPoint = 20; // Comenzar después del margen superior
        int cellWidth = 90;
        int cellHeight = 30;

        // Dibujar las cabeceras de la tabla en la primera página
        DrawCell(gfx, "ID", font, new XPoint(10, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Nombre", font, new XPoint(100, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Personal", font, new XPoint(190, yPoint), 300, cellHeight);
        DrawCell(gfx, "Cumpleaños", font, new XPoint(490, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Puesto", font, new XPoint(580, yPoint), 180, cellHeight);
        DrawCell(gfx, "Cargo", font, new XPoint(760, yPoint), 310, cellHeight);
        DrawCell(gfx, "Función", font, new XPoint(1070, yPoint), 390, cellHeight);
        DrawCell(gfx, "Modalidad", font, new XPoint(1460, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Rol", font, new XPoint(1550, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Tasa", font, new XPoint(1640, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Empresa", font, new XPoint(1730, yPoint), 170, cellHeight);
        DrawCell(gfx, "Coordinador", font, new XPoint(1900, yPoint), 165, cellHeight);
        DrawCell(gfx, "Gabin", font, new XPoint(2065, yPoint), 165, cellHeight);
        DrawCell(gfx, "People", font, new XPoint(2230, yPoint), 165, cellHeight);
        DrawCell(gfx, "Fecha proyecto", font, new XPoint(2395, yPoint), 110, cellHeight);
        DrawCell(gfx, "Fecha cese", font, new XPoint(2505, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Dias al Cese", font, new XPoint(2595, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Periodo Prueba", font, new XPoint(2685, yPoint), 105, cellHeight);
        DrawCell(gfx, "Ingreso Indra", font, new XPoint(2790, yPoint), 105, cellHeight);
        DrawCell(gfx, "Dias empresa", font, new XPoint(2895, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Vacaciones urgentes", font, new XPoint(2985, yPoint), 130, cellHeight);
        DrawCell(gfx, "Equipo", font, new XPoint(3115, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Celular", font, new XPoint(3205, yPoint), cellWidth, cellHeight);
        DrawCell(gfx, "Correo", font, new XPoint(3295, yPoint), 230, cellHeight);
        DrawCell(gfx, "Correo Personal", font, new XPoint(3525, yPoint), 230, cellHeight);
        DrawCell(gfx, "Dirección", font, new XPoint(3755, yPoint), 600, cellHeight);
        DrawCell(gfx, "Departamento", font, new XPoint(4355, yPoint), 110, cellHeight);
        DrawCell(gfx, "Provincia", font, new XPoint(4465, yPoint), 145, cellHeight);
        DrawCell(gfx, "Distrito", font, new XPoint(4610, yPoint), 145, cellHeight);
        DrawCell(gfx, "Observación", font, new XPoint(4755, yPoint), 230, cellHeight);
        DrawCell(gfx, "F31", font, new XPoint(4985, yPoint), 230, cellHeight);
        DrawCell(gfx, "Estado", font, new XPoint(5215, yPoint), cellWidth, cellHeight);
        yPoint += cellHeight; // Aumentar el valor de yPoint después de dibujar las cabeceras

        // Dibujar los datos de la tabla
        foreach (var item in TempObPersonal)
        {
            // Si hemos alcanzado el límite de filas por página, agregamos una nueva página
            if (yPoint + cellHeight > page.Height.Point)
            {
                page = document.AddPage(); // Agregar nueva página
                page.Orientation = PdfSharpCore.PageOrientation.Landscape; // Configurar orientación horizontal
                page.Width = XUnit.FromInch(pageWidth); // Anchoen pulgadas
                page.Height = XUnit.FromInch(8.5); // Alto en pulgadas
                gfx = XGraphics.FromPdfPage(page);
                yPoint = 20; // Reiniciar la posición vertical, comenzando después del margen superior

                // Dibujar las cabeceras de la tabla en la nueva página
                DrawCell(gfx, "ID", font, new XPoint(10, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Nombre", font, new XPoint(100, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Personal", font, new XPoint(190, yPoint), 300, cellHeight);
                DrawCell(gfx, "Cumpleaños", font, new XPoint(490, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Puesto", font, new XPoint(580, yPoint), 180, cellHeight);
                DrawCell(gfx, "Cargo", font, new XPoint(760, yPoint), 310, cellHeight);
                DrawCell(gfx, "Función", font, new XPoint(1070, yPoint), 390, cellHeight);
                DrawCell(gfx, "Modalidad", font, new XPoint(1460, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Rol", font, new XPoint(1550, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Tasa", font, new XPoint(1640, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Empresa", font, new XPoint(1730, yPoint), 170, cellHeight);
                DrawCell(gfx, "Coordinador", font, new XPoint(1900, yPoint), 165, cellHeight);
                DrawCell(gfx, "Gabin", font, new XPoint(2065, yPoint), 165, cellHeight);
                DrawCell(gfx, "People", font, new XPoint(2230, yPoint), 165, cellHeight);
                DrawCell(gfx, "Fecha proyecto", font, new XPoint(2395, yPoint), 110, cellHeight);
                DrawCell(gfx, "Fecha cese", font, new XPoint(2505, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Dias al Cese", font, new XPoint(2595, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Periodo Prueba", font, new XPoint(2685, yPoint), 105, cellHeight);
                DrawCell(gfx, "Ingreso Indra", font, new XPoint(2790, yPoint), 105, cellHeight);
                DrawCell(gfx, "Dias empresa", font, new XPoint(2895, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Vacaciones urgentes", font, new XPoint(2985, yPoint), 130, cellHeight);
                DrawCell(gfx, "Equipo", font, new XPoint(3115, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Celular", font, new XPoint(3205, yPoint), cellWidth, cellHeight);
                DrawCell(gfx, "Correo", font, new XPoint(3295, yPoint), 230, cellHeight);
                DrawCell(gfx, "Correo Personal", font, new XPoint(3525, yPoint), 230, cellHeight);
                DrawCell(gfx, "Dirección", font, new XPoint(3755, yPoint), 600, cellHeight);
                DrawCell(gfx, "Departamento", font, new XPoint(4355, yPoint), 110, cellHeight);
                DrawCell(gfx, "Provincia", font, new XPoint(4465, yPoint), 145, cellHeight);
                DrawCell(gfx, "Distrito", font, new XPoint(4610, yPoint), 145, cellHeight);
                DrawCell(gfx, "Observación", font, new XPoint(4755, yPoint), 230, cellHeight);
                DrawCell(gfx, "F31", font, new XPoint(4985, yPoint), 230, cellHeight);
                DrawCell(gfx, "Estado", font, new XPoint(5215, yPoint), cellWidth, cellHeight);
                yPoint += cellHeight; // Aumentar el valor de yPoint después de dibujar las cabeceras
            }

            string puesto = item.PUESTO ?? "";
            string cargo = item.CARGO ?? "";
            string funcion = item.FUNCION ?? "";
            string modalidad = item.MODALIDAD ?? "";
            string rol = item.ROL ?? "";
            string tasa = item.TASA ?? "";
            string empresa = item.EMPRESA ?? "";
            string coordinador = item.COORDINADOR ?? "";
            string gabin = item.GABIN ?? "";
            string people = item.PEOPLE ?? "";
            string fechacese = item.FECHA_CESE?.ToString("dd/MM/yyyy") ?? "";
            string diascese = CalcularDiasCese(item.FECHA_CESE) ?? "";
            string periodoprueba = item.PERIODO_PRUEBA ?? "";
            string diasempresa = CalcularDiasDeDiferencia(item.INGRESO_INDRA) ?? "";
            string vacacionesurgentes = item.VACACIONES_URGENTES?.ToString("dd/MM/yyyy") ?? "";
            string equipo = item.Equipo ?? "";
            string correo = item.CORREO ?? "";
            string correopersonal = item.CPERSONAL ?? "";
            string direccion = item.DIRECCION ?? "";
            string departamento = item.DEPARTAMENTO ?? "";
            string provincia = item.PROVINCIA ?? "";
            string distrito = item.DISTRITO ?? "";
            string observacion = item.OBSERVACION ?? "";
            string f31 = item.F31 ?? "";
            string estado = item.ESTADO ?? "";

            // Dibujar los datos en la página actual
            DrawCell(gfx, item.ID.ToString(), font, new XPoint(10, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, item.DNI, font, new XPoint(100, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, item.PERSONAL, font, new XPoint(190, yPoint), 300, cellHeight);
            DrawCell(gfx, item.CUMPLEAÑOS?.ToString("dd/MM/yyyy"), font, new XPoint(490, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, puesto, font, new XPoint(580, yPoint), 180, cellHeight);
            DrawCell(gfx, cargo, font, new XPoint(760, yPoint), 310, cellHeight);
            DrawCell(gfx, funcion, font, new XPoint(1070, yPoint), 390, cellHeight);
            DrawCell(gfx, modalidad, font, new XPoint(1460, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, rol, font, new XPoint(1550, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, tasa, font, new XPoint(1640, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, empresa, font, new XPoint(1730, yPoint), 170, cellHeight);
            DrawCell(gfx, coordinador, font, new XPoint(1900, yPoint), 165, cellHeight);
            DrawCell(gfx, gabin, font, new XPoint(2065, yPoint), 165, cellHeight);
            DrawCell(gfx, people, font, new XPoint(2230, yPoint), 165, cellHeight);
            DrawCell(gfx, item.FECHA_PROYECTO?.ToString("dd/MM/yyyy"), font, new XPoint(2395, yPoint), 110, cellHeight);
            DrawCell(gfx, fechacese, font, new XPoint(2505, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, diascese, font, new XPoint(2595, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, periodoprueba, font, new XPoint(2685, yPoint), 105, cellHeight);
            DrawCell(gfx, item.INGRESO_INDRA?.ToString("dd/MM/yyyy"), font, new XPoint(2790, yPoint), 105, cellHeight);
            DrawCell(gfx, diasempresa, font, new XPoint(2895, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, vacacionesurgentes, font, new XPoint(2985, yPoint), 130, cellHeight);
            DrawCell(gfx, equipo, font, new XPoint(3115, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, item.CELULAR.ToString(), font, new XPoint(3205, yPoint), cellWidth, cellHeight);
            DrawCell(gfx, correo, font, new XPoint(3295, yPoint), 230, cellHeight);
            DrawCell(gfx, correopersonal, font, new XPoint(3525, yPoint), 230, cellHeight);
            DrawCell(gfx, direccion, font, new XPoint(3755, yPoint), 600, cellHeight);
            DrawCell(gfx, departamento, font, new XPoint(4355, yPoint), 110, cellHeight);
            DrawCell(gfx, provincia, font, new XPoint(4465, yPoint), 145, cellHeight);
            DrawCell(gfx, distrito, font, new XPoint(4610, yPoint), 145, cellHeight);
            DrawCell(gfx, distrito, font, new XPoint(4610, yPoint), 145, cellHeight);
            DrawCell(gfx, observacion, font, new XPoint(4755, yPoint), 230, cellHeight);
            DrawCell(gfx, observacion, font, new XPoint(4755, yPoint), 230, cellHeight);
            DrawCell(gfx, f31, font, new XPoint(4985, yPoint), 230, cellHeight);
            DrawCell(gfx, estado, font, new XPoint(5215, yPoint), cellWidth, cellHeight);
            yPoint += cellHeight;
        }
        return document;
    }
}
